.main-container{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;

    .menu-header{
        width: 40%;
        display: flex;
        margin-left: auto;
        margin-right: auto;
        margin-top: 16px;

        span { 
            margin: auto;
            cursor: pointer;
            font-size: 16px;
            font-weight: bold;
            &:hover { 
                color: blue;
                text-decoration: underline;
            }
        }
    }

    .form-container{
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        width: 450px;
        background-color: rgb(243, 243, 243);
        padding-left: 16px;
        padding-right: 16px;
        max-height: 600px;
        margin-top: 48px;
        border-radius: 16px;
        border: solid 1px black;
        .header { 
            border-bottom: solid 1px black;
            display: flex;
            padding-top: 16px;
            padding-bottom: 16px;
            h1 { 
                margin: auto;
                text-align: center;
            }
        }

        .form-body { 
            display: flex;
            flex-direction: column;
            .input-container { 
                display: flex;
                flex-direction: column;
                min-height: 50px;
                margin-top: 16px;

                h4 { 
                    margin-bottom: 5px;
                }

                input { 
                    border: none;
                    border-bottom: solid 1px black;
                    background: transparent;
                    font-size: 16px;
                }
                .error-message { 
                    margin-bottom: 0;
                    margin-top: 2px;
                    color: red;
                }


                @media screen and (max-width: 767px) {
                    margin-top: 4px;
                }
            }
        }

        .footer { 
            display: flex;
            padding-top: 16px;
            padding-bottom: 16px;
            button { 
                background-color: #5cb85c;
                margin: auto;
                padding-top: 8px;
                padding-bottom: 8px;
                border-radius: 4px;
                border: solid 1px;
                color: white;
                margin-top: 16px;
                cursor: pointer;

                &.disabled { 
                    background-color: gray;
                    cursor: not-allowed;
                }

            }
        }


        @media screen and (max-width: 767px) {
            width: 80%;
            margin-left: 5%;
        }
    }


    .modal-container { 
        position: absolute;
        width: 100vw;
        height: 100vh;
        background-color: rgb(0, 0, 0, 0.5);
        display: flex;
        flex-direction: column;


        .ticket-body { 
            background-color: #c7d7d7;
            width: 850px;
            height: 300px;
            margin-left: auto;
            margin-right: auto;
            margin-top: auto;
            display: flex;
    
            div { 
                padding:12px;
            }
    
            .title-section { 
                width: 35%;
                border-right-style: dotted;
                color: #275a51;
                display: flex;
                flex-direction: column;
                padding-top: 85px;
                padding-bottom: 85px;
    
                .background-circle { 
                    height: 100px;
                    width: 100px;
                    border-right: solid 20px red;
                    position: absolute;
                    border-radius: 95px;
                    opacity: 0.5;
                    margin-top: -31px;
                    margin-left: -100px;
                }
    
                .title { 
                    margin: auto;
                    font-size: 32px;
                    font-weight: bold;
                }
    
                .subtitle { 
                    margin: auto;
                    font-size: 24px;
                }
    
            }
    
            .info-section { 
                display: flex;
                flex-direction: column;
                padding: 8px;
                width: 65%;
                color: #275a51;
    
                .date{
                    margin-top: 12px;
                    font-size: 24px;
                    font-weight: bold;
                    margin-left: auto;
                    margin-right: auto;
                }
    
                .user-data-container {
                    margin-top: 16px;
                    margin-left: 20px;
                    font-size: 16px;
                    font-weight: bold;
                    border-bottom: solid 1px black ;
                }
    
                .ticket-number { 
                    margin-left: auto;
                    margin-top: auto;
                    color: red;
                    font-size: 24px;
                    font-weight: bold;
                }
            }
    
        }

        .button-container { 
            margin-left: auto;
            margin-right: auto;
            margin-bottom: auto;
            margin-top: 16px;
            width: 200px;
            display: flex;

            button { 
                width: 75px;
                height: 40px;
                margin: auto;
                background-color: #5cb85c;
                padding-top: 8px;
                padding-bottom: 8px;
                border-radius: 4px;
                border: solid 1px;
                color: white;
                cursor: pointer;

                &.close { 
                    background-color: red;
                }
                &.accept {
                    background-color: blue;
                }

            }

        }
    }

}